<!-- Aqui va el banner-->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/restaurant1.jpeg" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/restaurant2.jpeg" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/restaurant3.jpeg" class="d-block" alt="...">
    </div>
  </div>
</div>